<main class="index">

    <header class="masthead d-flex" style="opacity: 0.9;">
            <div class="container text-center my-auto">
                <h1 class="mb-1" style="-webkit-text-fill-color: indianred;">Guillem León Font</h1>
                <br>
                <h3 class="mb-1" style="-webkit-text-fill-color: indianred;">
                    Web Applications Development Student
                </h3>
                <br>
                <a href="/cv" class="btn btn-danger">
                    Show CV
                </a>
            </div>
    </header>



</main>