<main class="index">
    <div class="aboutBackground"><section class="sideBg"></section></div>
    <header class="about d-flex" style="opacity: 0.8;"></header>
    
    <div class="container text-justify" style="position: relative; top: 15%; left: 0%; text-align:center; font-size: 12px;width:50%;">
        <p>Hello, my name is Guillem León Font and i'm currently studying Web Apps Development. My current knowledge is mainly based about MySQL, NodeJS, express, handlebars, PostgreSQL, JAVA and XML/JSON.</p>
        <a href="/" class="m-3">
            <div class="form-group" style="text-align: center;">
                <input type="button" class="btn btn-danger" value="Go Back">
            </div>
        </a>
    </div>
    <!--/.wrap-->
</main>