<main class="index">

    <header class="cv d-flex" style="opacity: 0.8;">

    </header>
    <div class="container">
        <div class="container text-center my-auto info">
            <h1 class="mb-4">Information</h1>
            <div class="dropdown-divider"></div>
            <p class="mx-auto p-4">Guillem León Font <br>
                603635842 <br>
                guillem.leonf@gmail.com <br>
                23/Feb/1996 <br>
                Premià de Mar, Barcelona, 08330 <br>
            </p>
        </div>
        <div class="container text-center my-auto languages">
            <h1 class="mb-4">Languages</h1>
            <div class="dropdown-divider"></div>
            <br>
            Catalan
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            Spanish
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            English
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="container text-center my-auto experience">
            <h1 class="mb-1">Experience</h1>
            <div class="dropdown-divider"></div>
            <table class="table table-striped text-justify">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <br>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">11/2018-Currently</th>
                    <td>Can Saia</td>
                    <td>Little but high level restaurant. Working as a waiter usually on weekends.</td>
                </tr>
                <tr>
                    <th scope="row">09/2017-06/2018</th>
                    <td>Argot</td>
                    <td>I was working almost a year as a waiter.</td>
                </tr>
                <tr>
                    <th scope="row">07/2017-09/2017</th>
                    <td>Naunet</td>
                    <td>Working as a waiter during the summer season.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container text-center my-auto studies">
            <h1 class="mb-1">Studies</h1>
            <div class="dropdown-divider"></div>
            <div class="container">
                <table class="table table-striped text-justify" >
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <br>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">09/2016-06/2018</th>
                        <td>Technician in audiovisual projects</td>
                        <td>This was a superior degree where I learned about
                            the history of the cinema, recording techniques,
                            how to edit audiovisual content, etc.</td>
                    </tr>
                    <tr>
                        <th scope="row">09/2019-Currently</th>
                        <td>Web Applications Development</td>
                        <td>Currently I'm studying a superior degree about web programming.
                            I'm very passionated about this. Also I'm learning NodeJS by my own.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container text-center my-auto languages">
            <h1 class="mb-4">Skills</h1>
            <div class="dropdown-divider"></div>
            <br>
            MySQL
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            PostgreSQL
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
            MongoDB
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
            Java
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            C
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 30%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
            NodeJS
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            Bootstrap
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
            Debian/Fedora
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            XML/JSON
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            Adobe Premiere CC
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            Adobe Lightroom CC
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            Adobe Photoshop CC
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 20%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
            Pack Office
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%; -webkit-text-fill-color: white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <a href="/" class="m-3">
                <div class="form-group" style="text-align: center;">
                    <input type="button" class="btn btn-danger" value="Go Back">
                </div>
            </a>
        </div>
    </div>
</main>

