<main class="index">

    <header class="masthead d-flex" style="opacity: 0.9;">
            <div class="container text-center my-auto">
                <h1 class="mb-1" style="-webkit-text-fill-color: indianred;">Guillem León Font</h1>
                <br>
                <h3 class="mb-1" style="-webkit-text-fill-color: indianred;">
                    Web Applications Development Student
                </h3>
                <br>
                <a href="/cv" class="btn btn-danger m-1">
                    Show CV
                </a>
                <a href="/about" class="btn btn-danger m-1">
                    About
                </a>
                <a href="/projects" class="btn btn-danger m-1">
                    Projects
                </a>
                <a href="/login" class="btn btn-danger m-1">
                    Private Area
                </a>
            </div>
    </header>



</main>