<main class="index">
    <div class="index background"></div>
    <header class="masthead d-flex" style="opacity: 0.9;">
            <div class="container text-center my-auto">
                <h1 class="mb-1 titleStyle" style="-webkit-text-fill-color: white;">
                    <span style="-webkit-text-fill-color: indianred">Guillem</span>
                    León Font</h1>
                <br>
                <a href="/cv" class="btn btn-danger m-1 colorChange">
                    Show CV
                </a>
                <a href="/about" class="btn btn-danger m-1 colorChange">
                    About
                </a>
                <a href="/projects" class="btn btn-danger m-1 colorChange">
                    Projects
                </a>
                <a href="/login" class="btn btn-danger m-1 colorChange">
                    Private Area
                </a>
                <br>
                <br>
                <h3 class="mb-1" style="-webkit-text-fill-color: white;">
                    <span style="-webkit-text-fill-color: indianred">Web Application</span>
                    Developer 
                </h3>
            </div>
    </header>
</main>