<main class="index">
    <div class="pageBackground"></div>
    <header class="privatearea d-flex" style="opacity: 0.8;"></header>
        <div class="container" style="position: relative; top: 50%; text-align:center; font-size: 12px;">
            <p>Here I'm going to post all my projects.</p>
            <a href="/" class="m-3">
            <div class="form-group" style="text-align: center;">
                <input type="button" class="btn btn-danger" value="Go Back">
            </div>
        </a>
        </div><!--/.wrap-->
</main>